# URL da sua API Backend
VITE_API_URL=http://localhost:5000/api

# Chaves de serviços de geocodificação
VITE_GOOGLE_MAPS_KEY=SUA_CHAVE_AQUI
VITE_OPENROUTE_KEY=SUA_CHAVE_AQUI

# Provedor padrão: nominatim | openrouteservice | google
VITE_GEO_PROVIDER=nominatim
